[submodule "libs/kicad_lib_tmk"]
	path = libs/kicad_lib_tmk
	url = git@github.com:tmk/kicad_lib_tmk.git
[submodule "libs/kwkb-kicad"]
	path = libs/kwkb-kicad
	url = git@github.com:klesh/kwkb-kicad.git
[submodule "libs/keebio-components"]
	path = libs/keebio-components
	url = git@github.com:keebio/keebio-components.git
[submodule "libs/Keebio-Parts.pretty"]
	path = libs/Keebio-Parts.pretty
	url = git@github.com:keebio/Keebio-Parts.pretty.git
[submodule "libs/KiCad-RP-Pico"]
	path = libs/KiCad-RP-Pico
	url = git@github.com:ncarandini/KiCad-RP-Pico.git
